{% extends "shop/layouts/main.html" %}

{% block title %}Shopkart | Index{% endblock title %}

{% block content %}
{% include "shop/Inc/message.html" %}
{% include "shop/Inc/slider.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <h4 class="mb-3">Trending Cakes</h4>
                <hr style="border-color: darkgrey;">
            </div>
            {% for i in trending %}
            <div class="col-md-4">
                <div class="card my-3 p-3">
                    <img class="card-image-top cardImg" src="{{i.product_image.url}}" alt="Categories">
                    <a href='{% url "product_details" i.category i.product_name %}'>
                    <div class="card-body">
                        <h5 class="card-title text-primary text-dark text-center">{{i.product_name}}</h5>
                        <p class="card-text">
                            <span class="float-start text-danger fw-bold"><s>Rs. {{i.original_price | stringformat:'d' }}</s></span> 
                            <span class="float-end text-white bg-success fw-bold" style="border-radius: 5px; padding: 3px;">Rs. {{i.selling_price | stringformat:'d'}}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


