{% extends "shop/layouts/main.html" %} 
{% block title %}Shopkar | Register{%endblock title %} 
{% block content %}
<div class="container">
  {% include "shop/Inc/message.html" %}
  <div class="row">
    <div class="col-12 my-3">
      <h5>Login Page</h5>
      <hr />
    </div>
    <div class="col-12">
      <div class="col-6">
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" value="" id="username" name='username' class='form-control' />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" value="" id="password" name='password' class='form-control' />
          </div>
          <button type='submit' class="btn btn-success">Login</button>
        </form>
      </div>
      <div class="col-6">
        {% if form.errors.username %}
            <label class="text-danger d-block">{{form.errors.username}}</label>
        {% endif %}
        {% if form.errors.password %}
            <label class="text-danger d-block">{{form.errors.password}}</label>
        {% endif %}
      </div>
    </div>
</div>
</div>
{% endblock content%}
