{% extends "shop/layouts/main.html" %}

{% block title %}Shopkar | Register{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h5>Register Page</h5>
                <hr>
            </div>
        </div>
            <div class="py-2 my-2 col-12">
                <div class='row'>
                    <div class="col-6">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="col-form-label">Username</label>
                                {{form.username}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="col-form-label">Email</label>
                                {{form.email}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="col-form-label">Password</label>
                                {{form.password1}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="col-form-label">Confirm Password</label>
                                {{form.password2}}
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                            
                        </form>
                        <p>Already User ?<a href="#"> Login Now</a></p>
                    </div>
                    <div class="col-6 text-center">
                        {% if form.errors.username %}
                            <label class="text-danger d-block">{{form.errors.username}}</label>
                        {% endif %}
                        {% if form.errors.email %}
                            <label class="text-danger d-block">{{form.errors.email}}</label>
                        {% endif %}
                        {% if form.errors.password1 %}
                            <label class="text-danger d-block">{{form.errors.password1}}</label>
                        {% endif %}
                        {% if form.errors.password2 %}
                            <label class="text-danger d-block">{{form.errors.password2}}</label>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}